{{> topHeader }}

{{!-- <div class="index_header">
  <div class="header_logo nh_logo">
    <img src="/images/instagram.jpg" alt="Instagram">
    <hr>
    <span>noorCare</span>
  </div>
  <div class="right">
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
  </div>
</div> --}}

<div id="mastHeadContainer">
  <a class="logoContainer" href="/">
    <img src="/images/noorcare.png" title="noorcare" alt="Site Logo">
  </a>
  <form class="form-inline navLoginContainer">

    <button href="/forgot-password" type="button" class="btn btn-link" alt="Forgot your password">Forgot your password?</button>
    <input class="form-control mr-sm-2" type="search" placeholder="Username" aria-label="Search">
    <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Search">
    <button class="btn btn-success btn-sm" type="submit">Log In</button>
  </form>
</div>
